body {
  background-image: url('../image/LandingPage.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.search {
  color: #fff;
  font-size: small;
  margin-top: 3%;
}

hr {
  color: rgb(0, 0, 0);
}

.card {
  margin-top: 5%;
  margin-left: 30%;
  margin-right: 30%;
}

.card-title {
  text-align: center;
}

.card-text {
  text-align: center;
}

.ayey {
  margin-top: 5%;
  margin-left: 30%;
  margin-right: 30%;
}
.ayey section {
  margin-top: 10px;
  text-align: center;
}
.ayey section a {
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.ayey section a:hover {
  background-color: grey;
  border: 1px solid black;
}
.ayey button {
  margin-left: 150px;
}
.ayey label {
  font-size: 20px;
}

.tanggal {
  margin-top: -3%;
  margin-right: 5%;
  float: right;
}

.navbar {
  background-color: #80d8de;
  margin-bottom: -4%;
}

.navbar .container-fluid .navbar-brand {
  margin-left: 3.5%;
  color: #533f3f;
}

.navbar .container-fluid .navbar-brand img {
  margin-right: 5%;
}

.navbar .container-fluid .collapse .navbar-nav .nav-item a {
  color: black;
}

/* .navbar .container-fluid .collapse .navbar-nav {
  margin-left: 85%;
} */

.welcometext h2 {
  font-style: sans-serif;
  font-size: 25px;
  margin-left: 50px;
}

.registration-form {
  padding: 70px;
}

.form-input h3 {
  font-size: 20px;
  font-style: sans-serif;
  margin-left: 30px;
  color: rgb(0, 0, 0);
}

form {
  max-width: 800px;
  margin: auto;
  padding: 50px 50px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}

.item {
  border-radius: 20px;
  max-width: 600px;
  margin-bottom: 30px;
  margin-left: 15px;
  padding: 5px 20px;
}

.submit {
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 20px;
  max-width: 150px;
  font-weight: bold;
  background-color: #abf898;
  border: none;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  margin-left: 250px;
}

.box {
  border-radius: 10px;
  padding: 10px 20px;
  width: 600px;
  height: 210px;
  margin-left: 280px;
  background: rgb(255, 255, 255);
  border: solid 2px black;
}
.box h3 {
  font-style: sans-serif;
  font-size: 20px;
  text-align: center;
}

@media screen and (width: 768px) {
  body {
    background-image: url('LoginPage\(mobile\).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .welcometext h2 {
    font-size: 20px;
  }

  .tanggal h6 {
    margin-top: -20px;
    font-size: 20px;
  }
  .form-input h3 {
    font-size: 15px;
    font-style: sans-serif;
    margin-left: 20px;
    color: #fff;
  }

  .registration-form form {
    padding: 50px 168px;
    border-radius: 20px;
  }
  .submit {
    margin-bottom: 100px;
  }

  .card {
    margin: 0 20px;
  }

  form .p-view {
    z-index: 9999;
    position: absolute;
    left: 160px;
    margin-top: -60px;
  }

  .ayey {
    padding: 0;
    margin: 0;
  }
  .ayey button {
    margin-left: 100px;
  }
}

@media screen and (max-width: 500px) {
  body {
    background-image: url('../image/HomeMobile\(320x516\).jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  .welcometext h2 {
    margin-top: -15px;
    margin-left: -60px;
    font-size: 15px;
  }

  .tanggal h6 {
    margin-right: -73px;
    margin-top: -28px;
    font-size: 15px;
  }

  .ayey {
    padding: 0;
    margin: 0;
  }

  .form-input h3 {
    font-size: 15px;
    font-style: sans-serif;
    margin-left: 20px;
    color: #fff;
  }

  .registration-form form {
    padding: 50px 0px;
    border-radius: 20px;
  }
  .submit {
    margin-bottom: 100px;
  }

  form .p-view {
    z-index: 9999;
    position: absolute;
    left: 160px;
    margin-top: -60px;
  }

  .card {
    margin: 0 -42px;
  }
  .ayey button {
    margin-left: 50px;
  }
  .ayey label {
    font-size: 20px;
  }
}
