<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="KonsepLogo1.png" type="image/png" sizes="16x16">
    <title >Lupa Password</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/lupaPass.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>
<body>
    <!-- Alert if any error during input a value in form -->
    <% if (locals.message) { %>
    <div class="alert alert-danger" role="alert"><%= locals.message %></div>
    <% } %>

    <div class="registration-form">
        <form method="POST" action="/lupaPass">
            <div class="form-icon">
                <h1>Lupa Password</h1>
            </div>
            <div class="form-input">
                <h3>Masukkan Email Yang Telah Terdaftar</h3>
                <input name="email" type="text" class="form-control item" id="email" placeholder="Email">
            </div>
            <div class="form-input">
                <h3>Sebagai Apakah Anda?</h3>
                <select name="select" id="User" class="form-control item">
                    <option value="Warga">Warga</option>
                    <option value="TenKes">Tenaga Kesehatan</option>
                    <option value="Wisata">Petugas Wisata</option>
                </select>
            <div class="form-group">
                <button type="submit" class="btn btn-block submit">Submit</button>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="assets/js/script.js"></script>
</body>
</html>
